@if (isActiveRoute('questionaire')) {
  <app-vraag></app-vraag>
} @else if (isActiveRoute('note')) {
  <app-note></app-note>
} @else if (isActiveRoute('login')) {
  <app-login></app-login>
} @else {
  <div class="dashboard-layout">
    <aside class="sidebar">
      <h2 class="sidebar-title">Welkom</h2>
      <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/user-select" routerLinkActive="active">Start Enquête</a>
        <a routerLink="/vragenlijst" routerLinkActive="active">Vragenlijst</a>
        <a routerLink="/klantenlijst" routerLinkActive="active">Cliëntenlijst</a>
      </nav>
    </aside>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
}
