<div class="dashboard-layout">
  <aside class="sidebar">
    <h2 class="sidebar-title">Welkom</h2>
    <nav>
      <a routerLink="/home" routerLinkActive="active">🏠 Home</a>
      <a routerLink="/start-vraag" routerLinkActive="active">📝 Start Vraag</a>
      <a routerLink="/vragenlijst" routerLinkActive="active">📋 Vragenlijst</a>
      <a routerLink="/klantenlijst" routerLinkActive="active">👥 Klantenlijst</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>

<!--<app-vraag></app-vraag>-->
