<h2>Selecteer een gebruiker</h2>

<div class="search-container">
  <input
    type="text"
    placeholder="Zoek"
    [(ngModel)]="searchTerm"
    class="search-input"
  />
</div>
<div class="container">
  <table>
    <thead>
    <th></th>
    <th (click)="sortBy('firstName')">
      <div class="sort-header">
        Voornaam
        @if (sortColumn == "firstName") {
          <span class="material-symbols-rounded sort-arrow"
                [class.desc]="sortDirection === 'desc'">
            arrow_upward
          </span>
        }
      </div>
    </th>
    <th (click)="sortBy('lastName')">
      <div class="sort-header">
        Achternaam
        @if (sortColumn == "lastName") {
          <span class="material-symbols-rounded sort-arrow"
                [class.desc]="sortDirection === 'desc'">
            arrow_upward
          </span>
        }
      </div>
    </th>
    </thead>
    <tbody>
      @for (user of filteredUsers; track user.id) {
        <tr (click)="selectUser(user)" [class.active]="isActive(user)">
          <td>
            <img src="assets/placeholder/profile.jpg" alt="profile picture" />
          </td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
        </tr>
      }
    </tbody>
  </table>


  @if (currentSurveyService.getCurrentUser() != null) {
    <div  class="user-detail-card">
      <div>
        <img src="assets/placeholder/profile.jpg" alt="profile picture"/>
        <h2>{{currentSurveyService.getCurrentUser()?.firstName}} {{currentSurveyService.getCurrentUser()?.lastName}}</h2>

        @if (hasActiveSurvey) {
          <div class="current-survey-container">
            <h6>Lopende enquête</h6>
            <div class="progress-container">
              <div class="progress-bar" [style.width.%]="progress"></div>
            </div>
            <p>30/40 vragen</p>
            <div class="button-container">
              <div class="outline-button" (click)="ditchSurvey()">Afsluiten</div>
              <div class="button" (click)="continueSurvey()">Verdergaan</div>
            </div>
          </div>
        } @else {
          <p class="cursive">Geen actieve enquête</p>
        }

      </div>
      <div>
        <div class="line"></div>
        <div class="button" [class.disabled]="hasActiveSurvey" (click)="!hasActiveSurvey && startSurvey()">
          Start Nieuwe Enquête
        </div>
      </div>
    </div>
    }
  </div>
