<h2>Selecteer een gebruiker</h2>

<div class="search-container">
  <input
    type="text"
    placeholder="Zoek"
    [(ngModel)]="searchTerm"
    class="search-input"
  />
</div>

<div class="container">

  <table>
    <thead>
    <th></th>
    <th (click)="sortBy('firstName')">
      <div class="sort-header">
        Voornaam
        @if (sortColumn == "firstName") {
          <span class="material-symbols-rounded sort-arrow"
                [class.desc]="sortDirection === 'desc'">
            arrow_upward
          </span>
        }
      </div>
    </th>
    <th (click)="sortBy('lastName')">
      <div class="sort-header">
        Achternaam
        @if (sortColumn == "lastName") {
          <span class="material-symbols-rounded sort-arrow"
                [class.desc]="sortDirection === 'desc'">
            arrow_upward
          </span>
        }
      </div>
    </th>
    </thead>
    <tbody>
      @for (user of filteredUsers; track user.id) {
        <tr (click)="selectUser(user)" [class.active]="isActive(user)">
          <td>
            <img src="assets/placeholder/profile.jpg" alt="profile picture" />
          </td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
        </tr>
      }
    </tbody>
  </table>


  @if (currentSurveyService.getCurrentUser() != null) {
    <div  class="user-detail-card">
      <div>
        <img src="assets/placeholder/profile.jpg" alt="profile picture"/>
        <h2>{{currentSurveyService.getCurrentUser()?.firstName}} {{currentSurveyService.getCurrentUser()?.lastName}}</h2>
      </div>
      <div>
        <div class="line"></div>
        <div class="button" (click)="startSurvey()">
          Start Enquête
        </div>
      </div>
    </div>
  }

</div>
