:host {
  display: block;
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.search-container {
  margin-bottom: 1rem;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 20rem;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: flex-start;
}

thead > th {
  padding: .5rem;
  border: 1px solid darkgray;
  background-color: lightgray;
  width: 10rem;
  text-align: start;
  user-select: none;
  cursor: pointer;
}
thead > th:first-child {
  width: auto;
}

.sort-header {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.sort-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.sort-arrow.desc {
  transform: rotate(180deg);
}

tbody > tr {
  transition: background-color 0.3s ease;
}

tbody > tr:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}
.active {
  background-color: var(--color-active);
}

tbody > tr > td {
  align-content: center;
  padding: .5rem;
  border: 1px solid darkgray;
}

img {
  width: 2rem;
  border: 1px solid darkgray;
  border-radius: 100%;
  user-select: none;
}


.user-detail-card {
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 25rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-detail-card > div > img {
  width: 5rem;
  margin-bottom: 1rem;
}

.user-detail-card > div > h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.line {
  display: block;
  border-bottom: 1px solid lightgray;
}

.button {
  justify-self: flex-end;
  margin: 1rem;
  background-color: var(--color-active);
  padding: .8rem;
  border-radius: .5rem;
  user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: #f37a6a;
}


