.cat-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.cat-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.cat-option > img {
  width: 100%;
  height: auto;
}

/* Tablet view (portrait & landscape) */
@media (max-width: 1024px) and (min-width: 600px) {
  .cat-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile view (optional for completeness) */
@media (max-width: 599px) {
  .cat-container {
    grid-template-columns: 1fr;
  }
}
