.body {
  display: flex;
  flex-direction: column;
}

.note-container {
  padding: 1rem;
  height: 100%;
}

p {
  margin-bottom: 1rem;
}

textarea {
  display: block;
  width: 100%;
  min-height: 15rem;
  resize: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
textarea:focus {
  outline: none;
}

input, .submit {
  padding: .5rem 1rem;
  box-shadow: none;
  background-color: #1f2937;
  color: white;
  border-radius: 5px;
  border: 1px solid #1f2937;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}
input:hover, .submit:hover {
  background-color: white;
  color: #1f2937;
}

.skip {
  padding: .5rem 1rem;
  color: #1f2937;
  border-radius: 5px;
  border: 1px solid #1f2937;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}
.skip:hover {
  background-color: ghostwhite;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  background-color: var(--color-active);
  padding: .8rem;
  /*border-radius: .5rem;*/
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: #f37a6a;
}
.button:active {
  transform: scale(0.95);
}

.disabled {
  background-color: gray;
  cursor: not-allowed;
}
.disabled:hover {
  background-color: gray;
}
.disabled:active {
  transform: none;
}
