.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.note-container {
  padding: 1rem;
  height: 100%;
}

p {
  margin-bottom: 1rem;
}

textarea {
  display: block;
  width: 100%;
  height: 25rem;
  resize: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
textarea:focus {
  outline: none;
}

input, .submit {
  padding: .5rem 1rem;
  box-shadow: none;
  background-color: #1f2937;
  color: white;
  border-radius: 5px;
  border: 1px solid #1f2937;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}
input:hover, .submit:hover {
  background-color: white;
  color: #1f2937;
}

.skip {
  padding: .5rem 1rem;
  color: #1f2937;
  border-radius: 5px;
  border: 1px solid #1f2937;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}
.skip:hover {
  background-color: ghostwhite;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
