<div class="body">
  <img src="assets/pictograms/smileys/smiley_happy.png" alt="happy smiley"
       (click)="selectAnswer(AnswerType.HAPPY)" [class.selected-happy]="selectedAnswer == AnswerType.HAPPY">
  <img src="assets/pictograms/smileys/smiley_neutral.png" alt="neutral smiley"
       (click)="selectAnswer(AnswerType.NEUTRAL)" [class.selected-neutral]="selectedAnswer == AnswerType.NEUTRAL">
  <img src="assets/pictograms/smileys/smiley_angry.png" alt="angry smiley"
       (click)="selectAnswer(AnswerType.ANGRY)" [class.selected-angry]="selectedAnswer == AnswerType.ANGRY">
</div>
<div class="button-container">
  <div class="button-outline" (click)="saveNotApplicable()">Niet van toepassing</div>
  <div class="button" (click)="deselectAnswer()">deselecteer</div>
  <div class="button" [class.disabled]="selectedAnswer == null" (click)="saveAnswer()">Volgende</div>
</div>
