@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.question-container > p {
  font-size: 3rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #1f2937;
}
.footer > .button {
  padding: .5rem 1rem;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.15s;
}
.footer > .button:hover {
  background-color: white;
  color: #1f2937;
}
