.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
