:host {
  display: block;
  padding: 1rem;
}

.header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.header > div > span {
  font-size: 2.2rem;
  color: #f37a6a;
  border-radius: 50%;
  padding: 0.5rem;
  transition: background-color 0.2s;
}
.header > div > span:hover {
  background-color: rgba(243, 122, 106, 0.2);
}
.header > div > span:active {
  transform: scale(0.95);
}

h2 {
  font-size: 1.2rem;
}

.user-detail-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  min-width: 10rem;
}

.user-detail-card > img {
  width: 3rem;
  border-radius: 50%;
  border: 1px solid lightgray;
  user-select: none;
}

.user-detail-card > div > p:last-child {
  color: gray;
}

table {
  width: 100%;
}

thead > th {
  padding: .5rem;
  border: 1px solid darkgray;
  background-color: lightgray;
  text-align: start;
  align-content: center;
  user-select: none;
}
thead > th:first-child {
  width: 1%;
  white-space: nowrap;
}

tbody > tr {
}
tbody > tr:hover {
  background-color: var(--color-hover);
}
.active {
  background-color: var(--color-active);
}

tbody > tr > td {
  align-content: center;
  padding: .5rem;
  border: 1px solid darkgray;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: dodgerblue;
  user-select: none;
  cursor: pointer;
}

.button {
  justify-self: flex-end;
  margin-top: 1rem;
  background-color: var(--color-active);
  padding: .8rem;
  border-radius: .5rem;
  user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: #f37a6a;
}

.disabled {
  background-color: gray;
  cursor: not-allowed;
}
.disabled:hover {
  background-color: gray;
}
.disabled:active {
  transform: none;
}
