<div class="header">
  <div>
    <span class="material-symbols-rounded" (click)="navigateBack()">arrow_back</span>

    <h2>Selecteer de vragen die gesteld moeten worden</h2>
  </div>

  <div class="user-detail-card">
    <img src="assets/placeholder/profile.jpg" alt="profile picture" />
    <div>
      <p>{{currentSurveyService.getCurrentUser()?.firstName}}</p>
      <p>{{currentSurveyService.getCurrentUser()?.lastName}}</p>
    </div>
  </div>
</div>

<table>
  <thead>
    <th>

      <div class="checkbox" (click)="toggleAll()">
        @if (!isEverythingSelected()) {
          <span class="material-symbols-rounded">check_box_outline_blank</span>
        } @else {
          <span class="material-symbols-rounded">check_box</span>
        }
      </div>

    </th>
    <th>Vraag</th>
  </thead>
  <tbody>
    @for (question of questions; track question.id) {
      <tr>
        <td>
          <div class="checkbox" (click)="toggleAnswer(question.id)">
            @if (isQuestionSelected(question.id)) {
              <span class="material-symbols-rounded">check_box_outline_blank</span>
            } @else {
              <span class="material-symbols-rounded">check_box</span>
            }
          </div>
        </td>
        <td>{{question.question}}</td>
      </tr>
    }
  </tbody>
</table>

<div class="button" (click)="startSurvey()" [class.disabled]="isSomethingSelected()">
  Start Enquête
</div>
