:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.survey {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 1rem;
  padding: 1.5rem;
}
.question-container > p {
  font-size: 1.2rem;
}
.question-container > img {
  width: 18rem;
  border-radius: 4%;
}

.no-image {
  justify-content: center;
}

.survey-done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.survey-done > p {
  font-style: italic;
  color: grey;
  font-size: 1.2rem;
}

.button {
  background-color: var(--color-active);
  padding: .8rem;
  border-radius: .5rem;
  user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: #f37a6a;
}

.error-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.error-container > p:first-child {
  color: red;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
}
.error-container > p:last-child {
  color: gray;
  text-decoration: underline;
  font-style: italic;
  font-size: .8rem;
  cursor: pointer;
}
.error-container > p:last-child:hover {
  color: black;
}
